<template>
  <div>
    <div v-if="last">
      <div class="text-h4">
        día de registro: {{ last.fecha }}
      </div>
      <q-separator />
      <div class="text-h6">
        Temperatura media: {{ last.tmed }}
      </div>
      <div class="text-h6">
        Temperatura mínima: {{ last.tmin }}
      </div>
      <div class="text-h6">
        Temperatura máxima: {{ last.tmax }}
      </div>
      <div class="text-h6">
        Precipitaciones: {{ last.prec }}
      </div>
    </div>
    <div v-else>
      <div class="text-h4">
        No hay valores
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StationValues',
  props: {
    climatologicalValues: {
      type: Array,
      required: true
    }
  },
  computed: {
    last () {
      return this.climatologicalValues[this.climatologicalValues.length - 1]
    }
  }
}
</script>
