<template>
  <q-page>
    <q-inner-loading :showing="isFetching">
        <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>

    <div class="q-pa-md row q-col-gutter-md"
         v-if="!isFetching">
      <div class="col-md-4" v-for="city in cities"
                            :key="city.name">
        <CityCard :city="city" />
      </div>
    </div>
  </q-page>
</template>

<script>

import store from '../store/index'
import { mapGetters } from 'vuex'

import CityCard from 'src/components/pages/index/CityCard'

export default {
  name: 'PageIndex',
  components: {
    CityCard
  },
  beforeRouteEnter (to, from, next) {
    store.dispatch('stations/getStations').then(() => {
      next()
    })
  },
  computed: {
    ...mapGetters('stations', [
      'isFetching',
      'cities'
    ])
  }
}
</script>
